// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary:       #1D7E75;
$secondary:     #F39D1C;
$success:       #18C6B5;
// Below to come
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light:         #F3FCFB;
$dark:          #163C38;
$enable-rounded : false;
$border-radius: 0;
$light-orange: #FDECCE;
$white: #FFF;
$black: #000;
$gray-700: #303943;
$gray-800: #272E35;
$gray-300: #D0D5DC;
$gray-900: #1F242B;

// Dark mode colors
// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// scss-docs-start sass-dark-mode-vars
// scss-docs-start theme-text-dark-variables

$primary-text-emphasis-dark:        tint-color($primary, 40%) !default;
$secondary-text-emphasis-dark:      tint-color($secondary, 40%) !default;
$success-text-emphasis-dark:        tint-color($success, 40%) !default;
//$info-text-emphasis-dark:           tint-color($info, 40%) !default;
//$warning-text-emphasis-dark:        tint-color($warning, 40%) !default;
//$danger-text-emphasis-dark:         tint-color($danger, 40%) !default;
//$light-text-emphasis-dark:          $gray-100 !default;
//$dark-text-emphasis-dark:           $gray-300 !default;

// scss-docs-end theme-text-dark-variables

// scss-docs-start theme-bg-subtle-dark-variables

$primary-bg-subtle-dark:            shade-color($primary, 80%) !default;
$secondary-bg-subtle-dark:          shade-color($secondary, 80%) !default;
$success-bg-subtle-dark:            shade-color($success, 80%) !default;
//$info-bg-subtle-dark:               shade-color($info, 80%) !default;
//$warning-bg-subtle-dark:            shade-color($warning, 80%) !default;
//$danger-bg-subtle-dark:             shade-color($danger, 80%) !default;
$light-bg-subtle-dark:              $gray-800 !default;
$dark-bg-subtle-dark:               mix($gray-800, $black) !default;

// scss-docs-end theme-bg-subtle-dark-variables

// scss-docs-start theme-border-subtle-dark-variables

$primary-border-subtle-dark:        shade-color($primary, 40%) !default;
$secondary-border-subtle-dark:      shade-color($secondary, 40%) !default;
$success-border-subtle-dark:        shade-color($success, 40%) !default;
//$info-border-subtle-dark:           shade-color($info, 40%) !default;
//$warning-border-subtle-dark:        shade-color($warning, 40%) !default;
//$danger-border-subtle-dark:         shade-color($danger, 40%) !default;
$light-border-subtle-dark:          $gray-700 !default;
$dark-border-subtle-dark:           $gray-800 !default;

// scss-docs-end theme-border-subtle-dark-variables

$body-color-dark:                   $gray-300 !default;
$body-bg-dark:                      $gray-900 !default;
$body-secondary-color-dark:         rgba($body-color-dark, .75) !default;
$body-secondary-bg-dark:            $gray-800 !default;
$body-tertiary-color-dark:          rgba($body-color-dark, .5) !default;
$body-tertiary-bg-dark:             mix($gray-800, $gray-900, 50%) !default;
$body-emphasis-color-dark:          $white !default;
$border-color-dark:                 $gray-700 !default;
$border-color-translucent-dark:     rgba($white, .15) !default;
$headings-color-dark:               inherit !default;
//$link-color-dark:                   tint-color($primary, 40%) !default;
//$link-hover-color-dark:             shift-color($link-color-dark, -$link-shade-percentage) !default;
//$code-color-dark:                   tint-color($code-color, 40%) !default;
$mark-color-dark:                   $body-color-dark !default;
//$mark-bg-dark:                      $yellow-800 !default;


//
// Forms
//

//$form-select-indicator-color-dark:  $body-color-dark !default;
//$form-select-indicator-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

//$form-switch-color-dark:            rgba($white, .25) !default;
//$form-switch-bg-image-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>") !default;

// scss-docs-start form-validation-colors-dark
//$form-valid-color-dark:             $green-300 !default;
//$form-valid-border-color-dark:      $green-300 !default;
//$form-invalid-color-dark:           $red-300 !default;
//$form-invalid-border-color-dark:    $red-300 !default;

// scss-docs-end form-validation-colors-dark


//
// Accordion
//

//$accordion-icon-color-dark:         $primary-text-emphasis-dark !default;
//$accordion-icon-active-color-dark:  $primary-text-emphasis-dark !default;

//$accordion-button-icon-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
//$accordion-button-active-icon-dark:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
// scss-docs-end sass-dark-mode-vars



// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

$utilities: map-merge(
  $utilities, (
    "border-start": map-merge(
      map-get($utilities, "border-start"),
      ( responsive: true ),
    ),
  )
);

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.btn-secondary {
    @include button-variant($secondary, darken($secondary, 7.5%), darken($secondary, 10%), lighten($secondary,5%), lighten($secondary, 10%), darken($secondary,30%));
    color: $dark;
}

.btn-outline-secondary {
    @include button-outline-variant($secondary, #222222, lighten($secondary,5%), $secondary);
    color: $dark;
}

.btn-primary{
    @include button-variant($primary, darken($primary, 7.5%), darken($primary, 10%), lighten($primary,5%), lighten($primary, 10%), darken($primary,30%));
    color: $light;
}

.btn-outline-primary {
    @include button-outline-variant($primary, #222222, lighten($primary,5%), $primary);
    color: $dark;
}

.btn-light{
    @include button-variant($gray-400, darken($gray-400, 7.5%), darken($gray-400, 10%), lighten($gray-400,5%), lighten($gray-400, 10%), darken($gray-400,30%));
    color: $dark;
}

.btn-outline-light {
    @include button-outline-variant($gray-400, #222222, lighten($gray-400,5%), $gray-400);
    color: $dark;
}

.oc-badge {
  color: $dark;
  background-color: $light-orange;
}

.oc-bg-light {
    background-color: $white;
    color: $dark;
}

.oc-bg-secondary {
    background-color: $gray-100;
    color: $dark;
}

.choices__list--multiple .choices__item {
    background-color: $primary !important;
    border: 1px solid $dark !important;
    border-radius: 0px;
}

.chive-rich-text {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chive-rich-text iframe {
    top: 0;
    left: .5em;
    bottom: 0;
    right: .5em;
    width: 100%;
    height: 100%;
}

.chive-rich-text video {

    top: 0;
    left: .5em;
    bottom: .5em;
    right: .5em;
    width: 100%;
    height: 100%;
}

// everything generic below, for migration post-migration [clown emoji]

.form-control {
  border-radius: 0;
}

.scroll-to-top {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    max-width:40px;
    height:40px;
    text-indent:-9999px;
    display:none;
    padding:1em;
    z-index:1;
    opacity: .5;
}

.scroll-to-top i {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}

.scroll-to-top:hover {
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)"
}

.osm-container a.collapsed span.oc-show-less {
    display: none;
}

.osm-container a:not(.collapsed) span.oc-show-more {
    display: none;
}

.osm-container a:not(.collapsed) span.oc-show-less {
    display: inline-block;
}

.oc-icon {
    max-width: 150px;
}

.oc-justify-end {
    justify-items: end;
}

.oc-justify-center {
    justify-items: center;
}

.rating-star i {
    color: $yellow-500 !important;
}

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.oc-fixed-width {
    width: 100%;
}

.oc-filter-dropdown {
    min-width: 335px;
}

.choices__list[aria-expanded="true"] {
    z-index: 1000 !important;
}

@include media-breakpoint-up(lg) {
    .oc-fixed-width {
        width: 430px;
    }

    .oc-filter-dropdown {
        min-width: 600px;
    }

    .nav-search-input {
        min-width: 600px;
    }

    .oc-nav-items-right {
        min-width: 200px;
    }
}