// 
// Colors
//

$ourchive-orange:                                #FF9F1C !default;
$ourchive-dark:                                  #171E26 !default;
$ourchive-light:                                 #D6D6D6 !default;
$ourchive-teal:                                  #45A29E !default;
$ourchive-grey:                                  #C5C6C7 !default;
$ourchive-navy:                                  #1F2833 !default;
$ourchive-navy-light:                            #2F3C4C !default;

$global-color:                                   $ourchive-light !default;
$global-emphasis-color:                          $ourchive-light !default;
$global-muted-color:                             $ourchive-light !default;

$global-link-color:                              $ourchive-orange !default;
$global-link-hover-color:                        $ourchive-light !default;
$text-secondary-color:                           $ourchive-orange !default;

$global-inverse-color:                           $ourchive-light !default;
$global-primary-background:                      $ourchive-navy !default;

$global-background:                              $ourchive-dark !default;

$global-muted-background:                        $ourchive-dark !default;
$global-secondary-background:                    $ourchive-teal !default;

$global-success-background:                      $ourchive-light !default;
$global-warning-background:                      $ourchive-orange !default;
$global-danger-background:                       $ourchive-orange !default;

$notification-message-primary-color:             $global-color !default;
$progress-bar-background:                        $global-inverse-color !default;

//
// Box-Shadows
//

$global-small-box-shadow:                        0 0px 0px $ourchive-navy !default;
$global-medium-box-shadow:                       0 0px 0px $ourchive-navy !default;
$global-large-box-shadow:                        0 0px 0px $ourchive-navy !default;
$global-xlarge-box-shadow:                       0 0px 0px $ourchive-navy !default;

//
// Tag cloud adapted from https://css-tricks.com/create-a-tag-cloud-with-some-simple-css-and-even-simpler-javascript/
//

.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link {
  color: #10EFD8;
}
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link {
  color: #FA0557;
}
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link {
  color: $ourchive-orange;
}
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link {
  color: #FFD000;
}

.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 #EF1027;
}
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 #05FAA8;
}
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 #1C7CFF;
}
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 #002FFF;
}

.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:hover,
.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:hover,
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:hover {
  color: $ourchive-navy !important;
}

.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:hover {
  color: $ourchive-light !important;
}

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// Import Ourchive common.
@import "ourchive-common.scss";

.uk-card-default {
  background-color: $ourchive-navy;
}

.ourchive-navbar {
  background-color: $global-primary-background;
}

.uk-navbar-nav > li > a {
  font-size: 1em !important;
}

.uk-alert-warning {
  color: $global-background !important;
}

input:checked + .slider {
  background-color: $global-secondary-background;
  border: 0px solid $global-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $global-secondary-background;
}

.slider {
  background-color: $ourchive-navy;
  border: 1px solid $global-color;
}

.ourchive-mobile-list {
  background-color: $ourchive-navy !important;
  padding: 1em !important;
}

.ourchive-tag-list {
  padding: .5em !important;
  background: #3E5065 !important;
}

.ourchive-tag-link {
  color: $ourchive-light !important;
}

.uk-link-muted:hover {
  color: $ourchive-orange !important;
  text-decoration: none;
}

.ourchive-divider {
  border-top: 1px dotted $ourchive-grey !important;
}

.ourchive-card-head {
  border-bottom: 1px solid $ourchive-navy-light !important;
  border-top: 0px !important;
}

.ourchive-card-body {
  border-top: 0px solid $ourchive-navy-light !important;
  border-bottom: 1px solid $ourchive-navy-light !important;
}

.ourchive-card-footer {
  border-top: 0px solid $ourchive-navy-light !important;
  border-bottom: 0px solid $ourchive-navy-light !important;
}

.uk-offcanvas-bar {
  background: $ourchive-navy !important;
}

.uk-button-primary {
  background: $ourchive-teal !important;
  color: $ourchive-dark !important;
}

.uk-button-tag {
  background: $ourchive-navy-light !important;
  color: $ourchive-light !important;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
}

.uk-button-secondary {
  background: $ourchive-grey !important;
  color: $ourchive-dark !important;
}

.uk-button-header {
  background: $ourchive-navy !important;
  color: $ourchive-orange !important;
  border: 1px solid $ourchive-light;
}

.uk-navbar-dropdown-nav>li>a:hover {
  color: $ourchive-orange;
}
.uk-navbar-dropdown-nav .uk-nav-sub a:hover {
  color: $ourchive-orange;
}

.uk-button-header:hover {
  background: $ourchive-light !important;
  color: $ourchive-dark !important;
  border: 1px solid $ourchive-navy;
}

.uk-tab::before {
  border-bottom: 0px solid $ourchive-light;
}

.uk-tab > .uk-active > a {
    border-bottom: 1px solid $ourchive-light;
}

.uk-list-striped>*:nth-of-type(odd) {
    border-top: 1px solid $ourchive-navy-light;
    border-bottom: 1px solid $ourchive-navy-light;
}

.ourchive-border-right {
    border-right: 1px solid $ourchive-navy-light;
    padding-right: 30px;
}

.ourchive-homepage-tags {
    border-bottom: 1px solid $ourchive-navy-light;
  }

.uk-notification-close line {
  stroke: $ourchive-light;
}

.uk-label-warning {
  color: $ourchive-dark;
}

.ourchive-span-link {
  color: $ourchive-orange;
}

.uk-button-danger {
  color: $ourchive-dark !important;
}

.ourchive-hr {
  border: 0;
  border-top: 1px solid $ourchive-navy-light;
}

.uk-notification {
  border: 1px solid $ourchive-navy-light;
}

.ourchive-comment-even {
  background-color: $ourchive-navy;
}

.ourchive-comment-odd {
  border: 1px solid $ourchive-navy-light;
}