// 
// Colors
//

$ourchive-orange:                                #FF9F1C !default;
$ourchive-dark:                                  #171E26 !default;
$ourchive-light:                                 #D6D6D6 !default;
$ourchive-teal:                                  #45A29E !default;
$ourchive-grey:                                  #C5C6C7 !default;
$ourchive-navy:                                  #1F2833 !default;

$global-color:                                   $ourchive-light !default;
$global-emphasis-color:                          $ourchive-light !default;
$global-muted-color:                             $ourchive-light !default;

$global-link-color:                              $ourchive-orange !default;
$global-link-hover-color:                        $ourchive-light !default;
$text-secondary-color:                           $ourchive-orange !default;

$global-inverse-color:                           $ourchive-light !default;
$global-primary-background:                      $ourchive-navy !default;

$global-background:                              $ourchive-dark !default;

$global-muted-background:                        $ourchive-dark !default;
$global-secondary-background:                    $ourchive-teal !default;

$global-success-background:                      $ourchive-light !default;
$global-warning-background:                      $ourchive-orange !default;
$global-danger-background:                       $ourchive-orange !default;

$notification-message-primary-color:             $global-color !default;
$progress-bar-background:                        $global-inverse-color !default;

//
// Box-Shadows
//

$global-small-box-shadow:                        0 0px 0px $ourchive-navy !default;
$global-medium-box-shadow:                       0 0px 0px $ourchive-navy !default;
$global-large-box-shadow:                        0 0px 0px $ourchive-navy !default;
$global-xlarge-box-shadow:                       0 0px 0px $ourchive-navy !default;

// Import Ourchive common.
@import "ourchive-common.scss";

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

.uk-card-default {
  background-color: $ourchive-navy;
}

.ourchive-navbar {
  background-color: $global-primary-background;
}

.uk-navbar-nav > li > a {
  padding: .5em;
  font-size: 1em !important;
}

.uk-alert-warning {
  color: $global-background !important;
}

input:checked + .slider {
  background-color: $global-secondary-background;
}

input:focus + .slider {
  box-shadow: 0 0 1px $global-secondary-background;
}

.ourchive-mobile-list {
  background-color: $ourchive-navy !important;
  padding: 1em !important;
}

.ourchive-tag-list {
  padding: .5em !important;
  background: #3E5065 !important;
}

.ourchive-tag-link {
  color: $ourchive-light !important;
}

.ourchive-divider {
  border-top: 1px dotted $ourchive-grey !important;
}

.ourchive-card-head {
  border-bottom: 1px solid $ourchive-grey !important;
  border-top: 0px !important;
}

.ourchive-card-body {
  border-top: 0px solid $ourchive-grey !important;
  border-bottom: 1px solid $ourchive-grey !important;
}

.ourchive-card-footer {
  border-top: 0px solid $ourchive-grey !important;
  border-bottom: 0px solid $ourchive-grey !important;
}

.uk-offcanvas-bar {
  background: $ourchive-navy !important;
}