//
// Scroll to top
//

.scroll-to-top {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    max-width:40px;
    height:40px;
    text-indent:-9999px;
    display:none;
    padding: 1em;
    z-index: 1;
}
.scroll-to-top span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
.scroll-to-top:hover {
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

//
// Tag cloud adapted from https://css-tricks.com/create-a-tag-cloud-with-some-simple-css-and-even-simpler-javascript/
//

.ourchive-homepage-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    margin: auto;
    list-style: none;
    padding: 0px 0px 30px 0px;
  }

.ourchive-homepage-tag {
  display: flex;
  align-items: center;
  margin: 0.25rem 1rem;
}

.ourchive-homepage-tag__link {
  padding: 5px 5px 0;
  transition: 0.3s;
  text-decoration: none;
}

//
// Typography
//

// Source: https://github.com/indestructible-type/Jost
@import "fonts/jost.css";

$global-font-family:                             "Jost", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-font-size:                               1.15em !default;
$global-line-height:                             1.5 !default;      // 24px

$global-2xlarge-font-size:                       2.625rem !default; // 42px
$global-xlarge-font-size:                        2rem !default;     // 32px
$global-large-font-size:                         1.25rem !default;   // 24px
$global-medium-font-size:                        16px !default;  // 20px
$global-small-font-size:                         0.8rem !default; // 14px

$breakpoint-medium: 960px !default;
$breakpoint-small: 640px !default;

//
// General
//

em {
  color: $global-color !important;
}

.ourchive-top-level-grid {
    padding-left: 0px !important;
}

.ourchive-content-block-parent {
    max-width: 1600px;
}

.ourchive-parent-grid {
    padding-left: 10px !important;
}

.ourchive-homepage-search {
    padding: 10px !important;
    margin: auto;
}

.uk-card-body {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.uk-navbar-nav > li > a:hover {
  background-color: $global-background;
}

.uk-navbar-nav > li > a {
  padding: .5em;
  font-size: 1em !important;
}

.uk-navbar-dropdown {
  // ensure the user can scroll down navs if zoomed in
  // header is about 6em tall
  max-height: calc(100vh - 6em);
  overflow: scroll;
}

.uk-navbar-dropdown-nav > li > a {
  font-size: 1.1em !important;
}

.uk-nav-sub > li > a {
  font-size: 1.1em !important;
}

.uk-navbar-nav > .uk-active {
  font-weight: bold;
}
.uk-card-header {
  background-color: $global-primary-background;
}
.uk-card-header a {
  text-decoration: none;
}

.rating-star > svg > polygon {
  fill: gold;
}
.rating-star > svg {
  color: gold;
}

.ourchive-logo-nav {
  max-height: 50px;
}

@media (min-width: $breakpoint-medium) {
	.uk-navbar-nav {
	    gap: 5px; 
	}
}

@media (max-width: $breakpoint-small) {
    .ourchive-padding-tiny-horizontal {
      padding-left: 30px !important;
  }
  .ourchive-parent-grid {
      padding: 0px !important;
  }
}

.ourchive-tag-entry {
	border-style: dashed;
	border-width: 1px;
	border-color: $global-muted-color
}

.custom-icon {
  height: 1em;
  width: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ourchive-comment {
  white-space: pre-wrap;
}

.ourchive-autocomplete-parent {
  overflow: auto;
}

.ourchive-autocomplete-child {
  overflow-y: auto;
}

.ourchive-collection-sm-desc {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
}

.ourchive-collection-lg-desc {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  display: -webkit-box;
}

.ourchive-mobile-tag-ul {
  list-style: none; 
  padding: 0;
}

.ourchive-mobile-tag-li ~ .ourchive-mobile-tag-li::after{
  content: ", ";
}

.ourchive-mobile-tag-list {
  text-decoration: underline !important;
}

 @media (max-width: $breakpoint-small) {
  .ourchive-metadata-list {
    font-size: 12px !important;
  }

  .ourchive-tile-title {
    font-size: 1.1em !important;
  }
 }

  @media (min-width: $breakpoint-small) {
  .ourchive-tile-title {
    font-size: 1.25em !important;
  }
 }

// todo: this feels wrong.
 .ourchive-tag-text {
  line-height: 2.5 !important;
 }

.uk-notification-close {
  display: block;
}