// 
// Colors
//

$ourchive-orange:                                #FF990A !default;
$ourchive-orange-light:                          #FFBF69 !default;
$ourchive-light:                                 #F5F5F5 !default;
$ourchive-teal:                                  #2EC4B6 !default;
$ourchive-teal-light:                            #CBF3F0 !default;
$ourchive-dark-green:                            #0D4016 !default;
$ourchive-purple:                                #70163C !default;
$ourchive-offwhite:                              #EBEBEB !default;
$ourchive-navy:                                  #1F2833 !default;
$ourchive-black:                                 #141414 !default;

$global-color:                                   #474747 !default;
$global-emphasis-color:                          #333 !default;
$global-muted-color:                             $global-color !default;

$global-link-color:                              $ourchive-purple !default;
$global-link-hover-color:                        $ourchive-orange !default;

$global-inverse-color:                           $ourchive-light !default;
$global-primary-background:                      $ourchive-teal !default;

$global-background:                              $ourchive-light !default;

$global-muted-background:                        $ourchive-light !default;
$global-secondary-background:                    $global-color !default;

$global-success-background:                      $global-color !default;
$global-warning-background:                      #CC3300 !default;
$global-danger-background:                       #CC3300 !default;
$ourchive-grey:                                  #C5C6C7 !default;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// 5. Import Ourchive common.
@import "ourchive-common.scss";

.ourchive-navbar {
  background-color: $global-primary-background;
}

.uk-navbar-nav > li > a {
  color: $ourchive-black;
}
.uk-text-meta {
  color: $ourchive-black;
}
.uk-navbar-nav > li > a:hover {
  color: $ourchive-black;
}

.uk-card-header {
  background-color: $global-primary-background;
}

.uk-card-header a {
  color: $ourchive-black;
  font-weight: bold !important;
}

.uk-card-header a:hover {
  text-decoration: underline !important;
}

.content-block-parent a {
  font-weight: 500;
}

a:hover {
  text-decoration: none !important;
}

.ourchive-li-flyover > dl > dt {
  color: $global-inverse-color !important;
}

@media (min-width: $breakpoint-medium) {
	.uk-navbar-nav {
	    gap: 5px; 
	}
}

input:checked + .slider {
  background-color: $global-primary-background;
}

input:focus + .slider {
  box-shadow: 0 0 1px $global-primary-background;
}

.ourchive-nav-search {
  color: $ourchive-dark-green !important;
}

.ourchive-autocomplete-div {
  background-color: $ourchive-light !important;
}

.ourchive-mobile-list {
  background-color: $ourchive-offwhite !important;
  padding: 1em !important;
}

.ourchive-mobile-list {
  background-color: $ourchive-teal !important;
  padding: 1em !important;
}

.ourchive-tag-list {
  padding: .5em !important;
  background: $ourchive-teal !important;
  color: $ourchive-black !important;
}

.ourchive-tile-title {
    color: $ourchive-black !important;
  }

.ourchive-tag-link {
  color: $ourchive-light !important;
}

.ourchive-metadata-list {
  background-color: $ourchive-light !important;
}

.ourchive-divider {
  border-top: 1px dotted $ourchive-grey !important;
}

.ourchive-card-head {
  border-bottom: 1px solid $ourchive-grey !important;
  border-top: 0px !important;
}

.ourchive-card-body {
  border-top: 0px solid $ourchive-grey !important;
  border-bottom: 1px solid $ourchive-grey !important;
}

.ourchive-card-footer {
  border-top: 0px solid $ourchive-grey !important;
  border-bottom: 0px solid $ourchive-grey !important;
}

.uk-button-primary {
  color: $ourchive-navy;
}

.uk-badge {
  color: $ourchive-black !important;
}