// 
// Colors
//

$ourchive-orange:                                #FF990A !default;
$ourchive-orange-light:                          #FFBF69 !default;
$ourchive-orange-lightest:                       #FDECCE !default;
$ourchive-light:                                 #F5F5F5 !default;
$ourchive-teal:                                  #2EC4B6 !default;
$ourchive-teal-light:                            #CBF3F0 !default;
$ourchive-dark-green:                            #0D4016 !default;
$ourchive-purple:                                #70163C !default;
$ourchive-offwhite:                              #EBEBEB !default;
$ourchive-navy:                                  #1F2833 !default;
$ourchive-black:                                 #141414 !default;

$global-color:                                   #474747 !default;
$global-emphasis-color:                          #333 !default;
$global-muted-color:                             $global-color !default;

$global-link-color:                              $ourchive-purple !default;
$global-link-hover-color:                        $ourchive-orange !default;

$global-inverse-color:                           $ourchive-light !default;
$global-primary-background:                      $ourchive-teal !default;

$global-background:                              $ourchive-light !default;

$global-muted-background:                        $ourchive-light !default;
$global-secondary-background:                    $global-color !default;

$global-success-background:                      $global-color !default;
$global-warning-background:                      #CC3300 !default;
$global-danger-background:                       #CC3300 !default;
$ourchive-grey:                                  #C5C6C7 !default;

$global-border:                                  #e5e5e5 !default;


//
// Tag cloud adapted from https://css-tricks.com/create-a-tag-cloud-with-some-simple-css-and-even-simpler-javascript/
//

.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link {
  color: #C42E3C;
}
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link {
  color: #9C00FF;
}
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link {
  color: #0066F5;
}
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link {
  color: #CA16AF;
}

.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 $ourchive-teal;
}
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 #63FF00;
}
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 $ourchive-orange;
}
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:hover {
  box-shadow: inset 0 -3em 0 0 #16CA31;
}

.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+4) .ourchive-homepage-tag__link:hover,
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+2) .ourchive-homepage-tag__link:hover {
  color: $ourchive-navy !important;
}

.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+1) .ourchive-homepage-tag__link:hover,
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:focus,
.ourchive-homepage-tag:nth-of-type(4n+3) .ourchive-homepage-tag__link:hover {
  color: $ourchive-navy !important;
}

// Import Ourchive common.
@import "ourchive-common.scss";

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

//
// Accordion 
//

$internal-ourchive-accordion-open-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='7 4 13 10 7 16' /%3E%3C/svg%3E" !default;
$internal-ourchive-accordion-close-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7' /%3E%3C/svg%3E" !default;

@mixin hook-accordion-title(){

    overflow: hidden;

    &::before {
        content: "";
        width: ($accordion-title-line-height * 1em);
        height: ($accordion-title-line-height * 1em);
        margin-left: $accordion-icon-margin-left;
        float: right;
        @include svg-fill($internal-ourchive-accordion-close-image, "#000", $accordion-icon-color);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .uk-open > &::before { @include svg-fill($internal-ourchive-accordion-open-image, "#000", $accordion-icon-color); }

}

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

//
// General
//

.ourchive-navbar {
  background-color: $global-primary-background;
}

.ourchive-nav-hr {
  border-top: 1px solid $ourchive-grey;
}

.ourchive-navbar-search-input {
  border: 1px solid $global-color !important;
}

.ourchive-notification {
  background-color: $ourchive-orange;
  border: 0.05em solid $ourchive-light;
}

.nav-button-default {
    background-color: $ourchive-orange;
    color: $ourchive-navy;
    border: 1px solid $global-color;
}

.nav-button-default:hover {
    color: $global-color;
}

.ourchive-mobile-list a:hover {
  color: $ourchive-light;
}

.uk-navbar-nav > li > a {
  color: $ourchive-black;
}
.uk-text-meta {
  color: $ourchive-black;
}
.uk-navbar-nav > li > a:hover {
  color: $ourchive-black;
}

.uk-navbar-dropdown-nav>li>a:hover {
  color: $ourchive-orange;
}
.uk-navbar-dropdown-nav .uk-nav-sub a:hover {
  color: $ourchive-orange;
}

.uk-link-muted:hover {
  color: $ourchive-light !important;
  text-decoration: none;
}

.uk-card-header {
  background-color: $global-primary-background;
}

.uk-card-header a {
  color: $ourchive-black;
  font-weight: bold !important;
}

.uk-card-header a:hover {
  text-decoration: none !important;
  color: $ourchive-light;
}

.ourchive-tile-title a:hover {
  text-decoration: none !important;
  color: $ourchive-light;
}

.content-block-parent a {
  font-weight: 500;
}

a:hover {
  color: $ourchive-orange;
}

.ourchive-li-flyover > dl > dt {
  color: $global-inverse-color !important;
}


input:checked + .slider {
  background-color: $global-primary-background;
}

input:focus + .slider {
  box-shadow: 0 0 1px $global-primary-background;
}

.slider {
  background-color: $global-color;
}

.ourchive-nav-search {
  color: $ourchive-dark-green !important;
}

.ourchive-autocomplete-div {
  background-color: $ourchive-light !important;
}

.ourchive-mobile-list {
  background-color: $ourchive-offwhite !important;
  padding: 1em !important;
}

.ourchive-mobile-list {
  background-color: $ourchive-teal !important;
  padding: 1em !important;
}

.ourchive-tag-list {
  padding: .5em !important;
  background: $ourchive-teal !important;
  color: $ourchive-black !important;
}

.ourchive-tile-title {
    color: $ourchive-black !important;
  }

.ourchive-tag-link {
  color: $ourchive-light !important;
}

.ourchive-metadata-list {
  background-color: $ourchive-light !important;
}

.ourchive-divider {
  border-top: 1px dotted $ourchive-grey !important;
}

.ourchive-card-head {
  border-bottom: 1px solid $ourchive-grey !important;
  border-top: 0px !important;
}

.ourchive-card-body {
  border-top: 0px solid $ourchive-grey !important;
  border-bottom: 1px solid $ourchive-grey !important;
}

.ourchive-card-footer {
  border-top: 0px solid $ourchive-grey !important;
  border-bottom: 0px solid $ourchive-grey !important;
}

.uk-button-primary {
  color: $ourchive-black;
}

.uk-badge {
  color: $ourchive-black !important;
}

.ourchive-hr {
  border-top: 1px solid $global-emphasis-color !important;
}

.uk-button-header {
  background: $ourchive-teal !important;
  color: $ourchive-black !important;
  border: 1px solid $ourchive-black;
}

.uk-button-header:hover {
  background: $ourchive-black !important;
  color: $ourchive-light !important;
  border: 1px solid $ourchive-black;
}

.uk-button-tag {
  background: $ourchive-teal !important;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
}

.uk-button-tag a {
  color: $ourchive-black !important;
}

.uk-button-tag a:hover {
  text-decoration: none !important;
  color: $ourchive-light;
}

.uk-list-striped>*:nth-of-type(odd) {
    border-top: 1px solid $ourchive-grey;
    border-bottom: 1px solid $ourchive-grey;
}

.ourchive-border-right {
    border-right: 1px solid $ourchive-grey;
    padding-right: 30px;
}

.ourchive-border-left {
    border-left: 1px solid $ourchive-grey;
    padding-left: 15px;
}

.ourchive-homepage-tags {
    border-bottom: 1px solid $ourchive-grey;
  }

.uk-notification-close line {
  stroke: $ourchive-black;
}

.ourchive-span-link {
  color: $ourchive-purple;
}

.ourchive-hr {
  border: 0;
  border-top: 1px solid $ourchive-grey !important;
}

.uk-notification {
  border: 1px solid $ourchive-grey !important;
}

.uk-checkbox:checked {
  background-color: $global-color;
}

.ourchive-comment-even {
  background-color: #EBEBEB;
}

.ourchive-comment-odd {
  border: 1px solid #E0E0E0 !important;
}

.ourchive-homepage-card {
    background-color: $ourchive-teal;
    border: 1px solid $ourchive-light;
}

.ourchive-homepage-card a {
    color: $global-color;
    font-weight: bold;
}

.ourchive-homepage-card a:hover {
    color: $ourchive-light;
}

/* Work Tile */

.ourchive-work-card {
    border: 1px solid $ourchive-grey;
}

.ourchive-muted {
  color: #707070;
}

/* Search */

.uk-search-input:focus {
  border: 1px solid $global-border !important;
}

.navbar-mobile-search {
    border: 1px solid $global-border;
}

#filter-toggle-dsk {
    background-color: $global-background;
}

#filter-toggle-dsk-mobile {
    background-color: $global-background;
}

.ourchive-autocomplete-child:hover {
  background-color: $ourchive-orange-lightest;
}